In [ ]:
 # I Lost my file for this class :(

# Class

In [ ]:
class Employee:
  # Make a class for the emloyee 
    def __init__(self, name, joining, address): 
      # Make a variable for the def in ()
        self.name = name
        self.joining= joining
        self.address = address
        self.salary = 0 #<-- set salary to 0 
        self.hours= 0 #<-- set hours to 0 

    def getInfo(self, salary, worked): # <-- make a def to get the employee info 
        self.salary = salary #<--- make salary variable 
        self.hours = worked #<--make a hours variable 

    def AddSal(self): #<--- make a def variable (must be nice to add on $10 onto weekly check . >:(
        if self.salary < 500: self.salary += 10

    def AddWork(self): # <-- make a def for Add work 
        if self.hours > 6: self.salary += 5

    def print(self): #<-- print the e
        print('{:<20} {:>10} {:>15} {:^40}'.format('Name','Joining','Salary','Address'))
        print(f'{self.name:<20}{self.joining:>10}{self.salary:>15}{self.address:^40}')


ep = Employee('Aiyden', 1999, 'Black Walls Street') # <-- print the employee paperwork 
ep.getInfo(400, 7)
ep.AddSal()
ep.AddWork()
ep.print()

Name                    Joining          Salary                 Address
Aiyden                     1999            415           Black Walls Street

In [ ]:
# Question 2: 

import math # Import math 

class shape: 
# Make an empty variable to be override for the next class 
  def __init__(self):
      pass
  
  def areas(self): 
    pass 
  
class triangel (shape):
  def __init__(self, sidem, siden, angle):
    # make a variable in the init () 
    self.side_m = sidem 
    self.side_n = siden 
    self.angel = angle 

  def areas(self): 
    return self.side_m * self.side_n * math.sin(math.radians(self.angel)) / 2 # <-- return the variable ( the calculation)

class rectangle(shape):
  # Make a class for the rectangle calculatio 
  def __init__(self, height, width):
    # make a variable for the init() 
    self.h = height 
    self.w = width 

  def areas(self):
    return self.h * self.w


a = triangel(6, 6, 90) # <-- input number in the variable 
print('Triangle Area:',a.areas()) # <-- print the triangle 

e = rectangle(15, 16) # <-- input number in variable
print('Rectangle Area', e.areas()) # <-- print the rectangle

Triangle Area: 18.0
Rectangle Area 240

# Numpy

In [ ]:
import numpy as np # <-- import numpy for it to work 

class BigMatrixMath: 

  def __init__(self):
    self.mat = [] #<-- make an empty  variable 
  
  def addMatrix(self, arr = np.random.randint(-70,159,(40,40))):
    self.mat.append(arr) #<-- adding the unknown size of matrix 
  
  def printdimension(self):
    for arr in self.mat:
      print(arr.shape)
  
  def dotproductelgible(self, n, j):
    # make a variable that shape the variable 
    d1 = (self.mat)[n].shape # 
    d2 = (self.mat)[j].shape 

    # if not format correctly return false 
    if (d1[1] == d2[0]): 
      return True 
    else: 
      return False 

arr = np.linspace(0.0, 100.0, 25, dtype = np.float64) #<-- allows for float 
print(arr) # <-- print the variable

[  0.           4.16666667   8.33333333  12.5         16.66666667
  20.83333333  25.          29.16666667  33.33333333  37.5
  41.66666667  45.83333333  50.          54.16666667  58.33333333
  62.5         66.66666667  70.83333333  75.          79.16666667
  83.33333333  87.5         91.66666667  95.83333333 100.        ]

In [ ]:
 # Appending the arrays 
a = np.array([[56,12], [39, 74]]) #<-- add an 
b = np.array([[65,76]])
c = np.append(a,b,0)
print(c)

[[56 12]
 [39 74]
 [65 76]]

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 8, 7, 6])
arr = np.reshape(arr,(3, 4))
print(arr)

[[1 2 3 4]
 [5 6 7 8]
 [9 8 7 6]]

# Pandas

In [ ]:
# Question 1:
import pandas as pd
d1 = pd.read_csv(r'adult.csv')
d1

      age  capital-gain  capital-loss  hours-per-week   class
0      20             0             0              35   <=50K
1      53             0             0              72    >50K
2      41             0             0              50    >50K
3      20             0             0              40   <=50K
4      25             0             0              40   <=50K
...   ...           ...           ...             ...     ...
9764   30             0             0              49   <=50K
9765   57             0             0              50    >50K
9766   63             0             0              35   <=50K
9767   59             0             0              40   <=50K
9768   42             0             0              35   <=50K

[9769 rows x 5 columns]

In [ ]:
average = d1.loc[d1["age"] == "=< 50K", 'class'].mean()
print(average)

nan

In [ ]:
dd = d1['hours-per-week']
de = d1["age"]
dw = dd.corr(de)
print(dw)

0.055718886589588866

In [ ]:
d2 = pd.read_csv('car.csv')
d2

     Buying Maintenance  Doors Riders Trunk_Size Safety  Class
0     vhigh       vhigh      2      2      small    low  unacc
1     vhigh       vhigh      2      2      small    med  unacc
2     vhigh       vhigh      2      2      small   high  unacc
3     vhigh       vhigh      2      2        med    low  unacc
4     vhigh       vhigh      2      2        med    med  unacc
...     ...         ...    ...    ...        ...    ...    ...
1723    low         low  5more   more        med    med   good
1724    low         low  5more   more        med   high  vgood
1725    low         low  5more   more        big    low  unacc
1726    low         low  5more   more        big    med   good
1727    low         low  5more   more        big   high  vgood

[1728 rows x 7 columns]

In [ ]:
d4 = pd.read_csv('car.csv')
d4.corr(method = 'kendall')

Empty DataFrame
Columns: []
Index: []

In [ ]:
d3 = pd.read_csv('iris.csv')
d3

     Sepal_length  Sepal_width  Petal_length  Petal_width    Flower_class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
d5 = d3["Petal_length"].median()
print('The median petal length is :',d5)

d6 = d3['Petal_width'].median()
print('The median petal width is : ', d6)

The median petal length is : 4.35
The median petal width is :  1.3

In [ ]:
de = pd.read_csv('iris.csv')
de.corr(method = 'pearson')


""

              Sepal_length  Sepal_width  Petal_length  Petal_width
Sepal_length      1.000000    -0.109369      0.871754     0.817954
Sepal_width      -0.109369     1.000000     -0.420516    -0.356544
Petal_length      0.871754    -0.420516      1.000000     0.962757
Petal_width       0.817954    -0.356544      0.962757     1.000000